:root {
  --color-primary: #061666; /* blue */
  --color-secondary: #D3AC07; /* golden */
  --header-size: 7em;
  --navbar-width: 70em;
  --fontsize-header: 1rem;
  --gap-p1-secction: 5rem;
  --padding-left-container: 10rem;
}


.background-white{
  background-color: white;
}

.background-color-secondary{
  background-color: var(--color-secondary);
}

.color-primary{
  color:var(--color-primary);
}


.color-secondary{
  color:var(--color-secondary);
}

.flex-column{
  flex-direction: column;
}

.flex1{
  flex: 1;
}


.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.container {
 
}

.column {
  flex: 1;
  display: flex;
}

.content {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  height: 100%;
}



/* Media query para tablets */
@media (width< 1100px) {
  /* Estilos específicos para tablets */

  :root {
    --navbar-width: 80%;
    --fontsize-header: 0.8rem;
    --header-size: 5em;
    --gap-p1-secction: 3rem;
  }

  .container {
    padding: 5px 20px;
  }
}

@media (600px < width < 900px) {
  :root {
    --navbar-width: 90%;
    --fontsize-header: 0.7rem;
  }
}

/* Media query para tablets */
@media (width< 760px) {
  /* Estilos específicos para tablets */
  :root {
    --navbar-width: 95%;
    --fontsize-header: 1.2rem;
    --gap-p1-secction: 1rem;
  }
  

  .container {
    padding: 5px 20px;
    max-width: 600px;
  }

}
