#myStory{
    font-stretch: condensed;
    font-weight: 400;
  font-family: "GT America Condensed Medium", Helvetica, Arial, Lucida;
    align-items: center;
}

#myStory .sec1{
    flex-direction: row;
    display: flex;
}

#myStory .sec1 h1{
    margin: 0;
    margin-right: 14rem;
    font-weight: 800;
    font-size: 3rem;
}

#myStory .sec1 .separator{
    margin: 12px 0px;
}

#myStory .sec2 h1{
    width: 40rem;
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.7rem;
}

#myStory .sec3{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
    color: var(--color-primary);
}


@media only screen and (width< 1120px) {
#myStory .sec1 h1{
    margin-right: 7rem;
}

#myStory .sec2 h1{
    width: 35rem;
}

}

@media only screen and (width< 800px) {
    #myStory .sec1{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
       
    }

    #myStory .sec1.margin-bottom{
        
    } 

    #myStory .sec1 h1{
        margin: 0;
        text-align: center;
    }

    #myStory .sec2 h1{
        width: 80%;
    }

    #myStory .sec2.margin-bottom{
        margin-bottom:2rem;
    } 

}


/* smartphone */
@media only screen and (width < 650px) {
#myStory .sec2 h1{
    width: 100%;
}


#myStory .sec3{
    width: calc(100% - 2rem);
    row-gap: 2rem;
}


}