/* Navigation */
.header {
  box-sizing: border-box;
  height: var(--header-size);
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu {
  display: none;
  height: 100%;
  position: absolute;
  right: 20px;
}

.menu span {
  background-color: var(--color-primary);
  height: 0.3rem;
  width: 100%;
  margin: 2px;
  border-radius: 2rem;
}

#navbar {
  font-size: var(--fontsize-header);
  font-weight: 900;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.logo {
  height: 100%;
  min-width: 80px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.items {
  height: 100%;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

#navbar ul.open {
  display: flex;
  transform: scaleY(1);
}

#navbar a {
  text-decoration: none;
  color: var(--color-primary);
}

#navbar li {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1rem 1rem;
  border-radius: 17px;
}

#navbar li a {
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
}

#navbar a:active {
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
#navbar li:hover a {
  color: white;
}

#navbar li:hover {
  background-color: #061666;
}

@media (width< 760px) {
  /* Estilos específicos para tablets */
  .logo {
    width: 100%;
    margin-bottom: 0.4rem;
  }

  .menu {
    display: flex;
  }

  #navbar ul,
  #navbar {
    flex-direction: column;
  }

  #navbar ul {
    display: none;
    justify-content: space-around;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
  }

  #navbar li {
    width: 70%;
    padding: 0.75rem;
  }
}
