#ourServices{
    font-stretch: condensed;
    font-weight: 400;
    font-family: "GT America Condensed Medium", Helvetica, Arial, Lucida;
    align-items: center;
}

#ourServices .sec2{
    text-align: center;
    align-items: center;
    justify-content: center;
}

#ourServices .sec2 h1{
    width: 40rem;
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.7rem;
}

#ourServices .sec3{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
    color: var(--color-primary);
}


@media only screen and (width< 1120px) {


#ourServices .sec2 h1{
    width: 35rem;
}

}

@media only screen and (width< 800px) {
  
   
    #ourServices .sec2.margin-bottom{
        margin-bottom:2rem;
    } 

    #ourServices .sec3{
        width: calc(100% - 2rem);
        row-gap: 2rem;
    }

}


/* smartphone */
@media only screen and (width < 650px) {


#ourServices .sec3{
    width: calc(100% - 2rem);
    row-gap: 2rem;
}

#ourServices .sec2 h1{
    width: 75%;
}


}