#myStory .panel{
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 28rem;
    color: var(--color-primary);
    column-gap: 3rem;
}


#myStory .panel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


#myStory .panel .story-descrip .title-border{
    border-bottom: 1rem solid var(--color-secondary);
    margin-bottom: 2rem;
}

#myStory .panel .story-descrip .title-border h1{
    margin: 0px;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 800;
}

#myStory .panel .story-descrip p{
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#myStory .panel .story-descrip ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    gap: 1.5rem;
}

#myStory .panel .story-descrip ul li{
    display: flex;
}

#myStory .panel .story-descrip ul li::before {
    content: "\2022";
    color: var(--color-secondary);
    font-weight: bold; 
    display: flex; 
    width: 40px; 
    font-size: 3rem;
  }

  #myStory .panel .story-descrip ul li span{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  @media only screen and (width< 1200px) {

    #myStory .panel .story-descrip p{
        margin-bottom: 1rem;
    }
    
    #myStory .panel .story-descrip ul li span{
        font-size: 1.3rem;
    }
  }

  @media only screen and (width< 1000px) {


    #myStory .panel .story-descrip .title-border{
         margin-bottom: 1.5rem;
    }

    #myStory .panel .story-descrip p{
        margin-bottom: 0.5rem;
    }
    
    #myStory .panel .story-descrip ul li span{
        font-size: 1.3rem;
    }

    #myStory .panel .story-descrip ul{
        gap: 1rem;
    }

  }



  @media only screen and (width< 800px) {
    #myStory .panel{
        display: flex;
        gap: 3rem;
    }

    #myStory .panel .story-descrip, img{
        flex: 1;
    }


    
#myStory .panel .story-descrip{
    padding: 0 6rem;   
}

  }