.translate-container {
    position: absolute;
    height: 100%;
    left: 2rem;
    right: auto;
  }

.flag{
    cursor: pointer;
} 

  .globe-container {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column;
    z-index: 1000; 
  }
  
  .globeIcon {
    cursor: pointer;
    font-size: 2rem;
  }
  
  .languages {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    transform: translateY(0); 
  }
  
  .languages li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px 0.5rem;
    gap: 0.5rem;
    
  }
  
  .languages li span {
    text-align: left;
    width: 4rem;
    cursor: pointer;
  }
  
  .languages.open {
    display: flex;
    flex-direction: column;
  }
  

  @media only screen and (width< 1000px) {
.globeIcon{
    font-size: 1.5rem;
}

    .translate-container{
        left: auto;
        right: 8rem;
    }
    .languages{
        left: auto;
        right: 0px;
    }
  }

  @media only screen and (width < 650px) {
    .translate-container{
        left: auto;
        right: 7rem;
    }
  }