.ImageAboutUs {
  background-image: linear-gradient(
      180deg,
      rgba(23, 24, 25, 0.5) 100%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../../public/img/pages/example.jpg") !important;
}

.gap-p1-secction {
  margin-bottom: var(--gap-p1-secction);
}

#us {
  font-weight: 400;
  font-stretch: condensed;
  font-family: "GT America Condensed Medium", Helvetica, Arial, Lucida,
    sans-serif;
  display: flex;
}

#us .sec1 {
  padding-top: 11em;
  padding-bottom: 11em;
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

#us .sec1 .left{
  padding: 11em 0px;
  padding-left: var(--padding-left-container);
}

#us h1 {
  font-size: 60px;
  max-width: 500px;
  margin: 0px;
}

#us h4 {
  text-transform: uppercase;
  font-size: 1.26rem;
}

#us .separator {
  width: 100%;
  height: 2.5rem;
  color: var(--color-secondary);
}

#us .sec2 {
  color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
}

.sec2 .right {
  padding: 0rem 5rem;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}

#us .sec2 h2 {
  font-size: 36px;
  line-height: 1.14em;
  font-weight: 500;
}

/* Media query para tablets */
@media (width< 1100px) {
  /* Estilos específicos para tablets */


}



/* Media query para tablets */
@media (width< 760px) {
 
  .items {
    width: 100%;
    height: auto;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
    padding: 0.4rem;
  }

  #us .separator {
    height: 1.8rem;
  }

  #us .sec2 {
    flex-direction: column;
  }
  .sec2 .derecha {
    padding: 2rem 2rem;
  }
}
